article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

body {
	
	--color-link: #fff;
	--color-link-hover: #ffcbd6;
	--color-blocklink: #515151;
	--color-blocklink-hover: #fff;
	
} 

a.link-project {
    width:100%;
    color:#2e2e2e;
    border-bottom:2px solid #ffffff;
}

.project-item:hover, .project-item:hover *{
	color:#0001EF;  
}

.number-name:hover, .number-name:hover *{
	color:#0001EF;  
}


a:hover, a:hover* {
    color:#0001EF;    
}


/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}


a {
	text-decoration: none;
	color: #2e2e2e;
	outline: none;
}

a:hover,a:hover *
a:focus {
	color: #0001ef;
}

button:focus,
a:focus {
	outline: none;
}

main {
	position: relative;
	width: 100%;
}

.message {
	background: #e47073;
	color: #fff;
	padding: 1rem;
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
	font-size: 0.8rem;
}

.frame__title {
	font-size: inherit;
	margin: 0 0 1rem;
	font-weight: normal;
}

.frame__links {
	display: inline;
}

.frame__links a {
	text-transform: lowercase;
}

.frame__links a:not(:last-child) {
	margin-right: 1rem;
}

.github {
	text-transform: lowercase;
	margin-left: 1rem;
}

.block {
	padding: 0 4rem 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.block__title {
	position: relative;
	font-size: 1rem;
	margin: 0 0 1.5rem 0;
	padding: 0.5rem 0;
	cursor: pointer;
	font-family: titling-gothic-fb-wide, sans-serif;
	font-weight: 700;
	color: var(--color-blocktitle);
}

.block__title:hover {
	color: var(--color-blocktitle-hover);
}

.block__link {
	position: relative;
	cursor: pointer;
	padding: 0.5rem 0;
	color: var(--color-blocklink);
}

.block__link:hover {
	color: var(--color-blocklink-hover);
}


.content__text {
	padding: 0 5vw 25vh;
	line-height: 2;
	color: var(--color-text);
}

.content__text-link {
	position: relative;
	font-weight: bold;
	cursor: pointer;
}

.content__text-link:first-of-type,
.content__text-link:nth-of-type(11),
.content__text-link:nth-of-type(21) {
	color: #f7e300;
}

.content__text-link:nth-of-type(2),
.content__text-link:nth-of-type(12),
.content__text-link:nth-of-type(22) {
	color: #002df7;
}

.content__text-link:nth-of-type(3),
.content__text-link:nth-of-type(13),
.content__text-link:nth-of-type(23) {
	color: #e51679;
}

.content__text-link:nth-of-type(4),
.content__text-link:nth-of-type(14) {
	color: #fff;
}

.content__text-link:nth-of-type(5),
.content__text-link:nth-of-type(15) {
	color: #00f73d;
}

.content__text-link:nth-of-type(6),
.content__text-link:nth-of-type(16) {
	color: #00e8f7;
}

.content__text-link:nth-of-type(7),
.content__text-link:nth-of-type(17) {
	color: #a753eb;
}

.content__text-link:nth-of-type(8),
.content__text-link:nth-of-type(18) {
	color: #ff2626;
}

.content__text-link:nth-of-type(9),
.content__text-link:nth-of-type(19) {
	color: #eb8e53;
}

.content__text-link:nth-of-type(10),
.content__text-link:nth-of-type(20) {
	color: #ff00e7;
}

.block[data-fx="1"] a::after,
a.content__text-link[data-fx="1"]::after,
.block[data-fx="2"] a::after,
a.content__text-link[data-fx="2"]::after {
	content: '';
	z-index: -1;
	width: 100%;
	bottom: 0.25rem;
	left: 0;
	position: absolute;
	height: 2px;
	background: currentColor;
	transform: scale3d(0,1,1);
	transform-origin: 0% 50%;
	transition: transform 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

a.content__text-link[data-fx="1"]::after,
a.content__text-link[data-fx="2"]::after {
	bottom: 0;
}

.block[data-fx="1"] a:hover::after,
a.content__text-link[data-fx="1"]:hover::after,
.block[data-fx="2"] a:hover::after,
a.content__text-link[data-fx="2"]:hover::after {
	transform: scale3d(1,1,1)
}

.block[data-fx="6"] a::after,
a.content__text-link[data-fx="6"]::after {
	content: '';
	z-index: -1;
	width: 500px;
	bottom: 0.25rem;
	left: 0;
	position: absolute;
	height: 2px;
}

a.content__text-link[data-fx="6"]::after {
	bottom: 0;
}

.block[data-fx="6"] a:hover::after,
a.content__text-link[data-fx="6"]:hover::after {
	transform: scale3d(1,1,1)
}

.block[data-fx="14"] a::after,
a.content__text-link[data-fx="14"]::after {
	content: '';
	z-index: -1;
	width: 100%;
	bottom: 0.25rem;
	left: 0;
	position: absolute;
	height: 2px;
	background: currentColor;
	transform: scale3d(0,1,1);
	transform-origin: 0% 50%;
}

a.content__text-link[data-fx="14"]::after {
	bottom: 0;
}

.block[data-fx="14"] a:hover::after,
a.content__text-link[data-fx="14"]:hover::after {
	animation: loop 0.5s infinite;
}

@keyframes loop {
	0% { transform-origin: 0% 50%; transform: scale3d(0,1,1); }
	50% { transform-origin: 0% 50%; transform: scale3d(1,1,1); }
	51% { transform-origin: 100% 50%; }
	100% { transform-origin: 100% 50%; transform: scale3d(0,1,1); }
}

.hover-reveal {
	position: fixed;
	width: 46%;
	height: 60vh;
	top: 20vh;
	left: 0;
	pointer-events: none;
	opacity: 0;
}

.hover-reveal__inner,
.hover-reveal__img {
	width: 100%;
	height: 100%;
	position: relative;
}

.hover-reveal__deco {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #181314;
}

.hover-reveal__img {
	background-size: cover;
	background-position: 50% 50%;
}

.block__link span {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Sharpgrotesk;
  font-size: 90px;
  line-height: 100px;
  font-weight: 700;
}

.text-project__name {
  padding-left: 80px;
  font-family: 'Sharpgrotesk book20', sans-serif;
  font-size: 80px;
  line-height: 100px;
  -o-object-fit: fill;
  object-fit: fill;
  color:#2e2e2e;    
}

.project-item {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -o-object-fit: fill;
  object-fit: fill;
}

.text-project__number {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: 'Sharpgrotesk bold10', sans-serif;
  font-size: 120px;
  line-height: 100px;
  font-weight: 700;
  color:#2e2e2e;    
  width:20%;
    
}
@media screen and (max-width: 480px) {
    .text-project__number {
        font-size:70px;
    }  
    
    .text-project__name {
        font-size:50px;
        padding-left:30px;
    }  
    
    .block {
        padding:0;
    }
    
    .hover-reveal {
	display: none;
}

    
}


@media screen and (min-width: 1280px) {


/*  .block__link span {
    width: 15%;
    font-family: 'Sharpgrotesk bold10', sans-serif;
  }
  .text-project__name {
    padding-left: 70px;
    text-decoration: none;
  }
    
      .text-project__number {
    width: 15%;
    font-family: 'Sharpgrotesk bold10', sans-serif;
  }

}*/